<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 mt-4">
      <select class="form-select" aria-label="Default select example">
        <option selected>類別</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      </br>
      <div>
      <h5>總金額：</h5>  
      <p class="d-flex justify-content-end" style="color:#ff6600; font-weight:400; font-size:48px" id="totalAmount">
        100000
      </p>
      </div>
      <div>
        <ul class="list-group">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/new" class="btn btn-warning" role="button">新增支出</a>
      </div>
    </div>
  </div>
</div>

