<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Welcome</h1>
      {{!-- {{> message}} --}}
      <form action="/users/login" method="POST">
        <div class='mb-3'>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name">
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <div class='d-grid'>
          <button type="submit" class="btn btn-info text-light mb-2">Login</button>
          {{!-- <a href="/auth/facebook" class="btn btn-primary text-light">Facebook Login</a> --}}
        </div>
      </form>
      <p class="mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
      <table class="table">
        <thead>測試用帳號：
          <tr> 
            <th scope="col">Name</th>
            <th scope="col">Password</th> 
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>廣志</td>
            <td>12345678</td>
          </tr>
          <tr>
            <td>小新</td>
            <td>12345678</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>